@model IEnumerable<AliMine.Models.Post>
@{
    ViewData["Title"] = "Публикации";
}

<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading"><span class="glyphicon glyphicon-link"></span> Публикации</div>

    <!-- Table -->
    <table class="table">
        <tr>
            <th>#</th>
            <th>Заголовок</th>
            <th>Содержание</th>
            <th>Путь к картинке</th>
            <th>Категория</th>
            <th>Действия</th>
        </tr>

        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Id</td>
                <td>@post.Title</td>
                <td>@post.Content</td>
                <td>@post.ImgAlias</td>
                <td>@post.Category?.Name</td>
                <td>
                    <a asp-action="PostDetails" asp-controller="Database" asp-route-id="@post.Id"><span class="glyphicon glyphicon-eye-open"></span></a> |
                    <a asp-action="EditPost" asp-controller="Database" asp-route-id="@post.Id"><span class="glyphicon glyphicon-pencil"></span></a> |
                    <a asp-action="DeletePost" asp-controller="Database" asp-route-id="@post.Id"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </table>
</div>

<a class="btn btn-primary btn-lg btn-block" href="~/Database/CreatePost" role="button">Добавить Публикацию</a>